django                                                           
python-dotenv                                                    
langchain                                                        
langchain-openai                                                 
pyjwt[crypto]
requests
markdown